In [33]:
import pandas as  pd

df = pd.read_csv('chess_games.csv')
df

,Event,White,Black,Result,UTCDate,UTCTime,WhiteElo,BlackElo,WhiteRatingDiff,BlackRatingDiff,ECO,Opening,TimeControl,Termination,AN
0,Classical,eisaaaa,HAMID449,1-0,2016.06.30,22:00:01,1901,1896,11.0,-11.0,D10,Slav Defense,300+5,Time forfeit,1. d4 d5 2. c4 c6 3. e3 a6 4. Nf3 e5 5. cxd5 e...
1,Blitz,go4jas,Sergei1973,0-1,2016.06.30,22:00:01,1641,1627,-11.0,12.0,C20,King's Pawn Opening: 2.b3,300+0,Normal,1. e4 e5 2. b3 Nf6 3. Bb2 Nc6 4. Nf3 d6 5. d3 ...
2,Blitz tournament,Evangelistaizac,kafune,1-0,2016.06.30,22:00:02,1647,1688,13.0,-13.0,B01,Scandinavian Defense: Mieses-Kotroc Variation,180+0,Time forfeit,1. e4 d5 2. exd5 Qxd5 3. Nf3 Bg4 4. Be2 Nf6 5....
3,Correspondence,Jvayne,Wsjvayne,1-0,2016.06.30,22:00:02,1706,1317,27.0,-25.0,A00,Van't Kruijs Opening,-,Normal,1. e3 Nf6 2. Bc4 d6 3. e4 e6 4. Nf3 Nxe4 5. Nd...
4,Blitz tournament,kyoday,BrettDale,0-1,2016.06.30,22:00:02,1945,1900,-14.0,13.0,B90,"Sicilian Defense: Najdorf, Lipnitsky Attack",180+0,Time forfeit,1. e4 c5 2. Nf3 d6 3. d4 cxd4 4. Nxd4 Nf6 5. N...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6256179,Blitz,GustavScar,WEBRIFF,1-0,2016.07.31,21:59:56,1248,1303,13.0,-17.0,B54,Sicilian Defense,180+3,Normal,1. e4 c5 2. Nf3 d6 3. d4 Qa5+ 4. Bd2 Qc7 5. Bc...
6256180,Classical,apgaro,Camposf,1-0,2016.07.31,21:59:54,1328,1292,10.0,-11.0,C40,King's Knight Opening,1800+0,Normal,1. e4 e5 2. Nf3 h6 3. Nc3 d6 4. Bc4 Qf6 5. Nd5...
6256181,Bullet,matematico1234567890,cecile_creteil,0-1,2016.07.31,21:59:53,1660,1658,-11.0,11.0,B21,Sicilian Defense: Smith-Morra Gambit,120+0,Normal,1. e4 { [%eval 0.22] } 1... c5 { [%eval 0.35] ...
6256182,Bullet,MagnusMinor,shegap,0-1,2016.07.31,21:59:57,1726,1776,-8.0,9.0,A09,Reti Opening: Reti Accepted,60+0,Normal,1. Nf3 d5 2. c4 dxc4 3. Qa4+ c6 4. Qxc4 Nf6 5....
6256183,Classical,SocratAss,KOSMA7,0-1,2016.07.31,21:59:54,1948,1992,-74.0,8.0,C00,Rat Defense: Small Center Defense,480+0,Normal,1. e4 e6 2. d4 d6 3. Nc3 c6 4. Nf3 Be7 5. Bc4 ...

In [34]:
df.shape

(6256184, 15)

In [35]:
df.columns

Index(['Event', 'White', 'Black', 'Result', 'UTCDate', 'UTCTime', 'WhiteElo',
       'BlackElo', 'WhiteRatingDiff', 'BlackRatingDiff', 'ECO', 'Opening',
       'TimeControl', 'Termination', 'AN'],
      dtype='object')

In [72]:
df_nombres=df[['Result','ECO','Opening','TimeControl','AN']]
df_nombres.to_csv('nombres.csv', index=False)

In [73]:
df_nombres

,Result,ECO,Opening,TimeControl,AN
0,1-0,D10,Slav Defense,300+5,1. d4 d5 2. c4 c6 3. e3 a6 4. Nf3 e5 5. cxd5 e...
1,0-1,C20,King's Pawn Opening: 2.b3,300+0,1. e4 e5 2. b3 Nf6 3. Bb2 Nc6 4. Nf3 d6 5. d3 ...
2,1-0,B01,Scandinavian Defense: Mieses-Kotroc Variation,180+0,1. e4 d5 2. exd5 Qxd5 3. Nf3 Bg4 4. Be2 Nf6 5....
3,1-0,A00,Van't Kruijs Opening,-,1. e3 Nf6 2. Bc4 d6 3. e4 e6 4. Nf3 Nxe4 5. Nd...
4,0-1,B90,"Sicilian Defense: Najdorf, Lipnitsky Attack",180+0,1. e4 c5 2. Nf3 d6 3. d4 cxd4 4. Nxd4 Nf6 5. N...
...,...,...,...,...,...
6256179,1-0,B54,Sicilian Defense,180+3,1. e4 c5 2. Nf3 d6 3. d4 Qa5+ 4. Bd2 Qc7 5. Bc...
6256180,1-0,C40,King's Knight Opening,1800+0,1. e4 e5 2. Nf3 h6 3. Nc3 d6 4. Bc4 Qf6 5. Nd5...
6256181,0-1,B21,Sicilian Defense: Smith-Morra Gambit,120+0,1. e4 { [%eval 0.22] } 1... c5 { [%eval 0.35] ...
6256182,0-1,A09,Reti Opening: Reti Accepted,60+0,1. Nf3 d5 2. c4 dxc4 3. Qa4+ c6 4. Qxc4 Nf6 5....
6256183,0-1,C00,Rat Defense: Small Center Defense,480+0,1. e4 e6 2. d4 d6 3. Nc3 c6 4. Nf3 Be7 5. Bc4 ...

In [97]:
df_defensas = df_nombres[df_nombres['Opening'].str.contains('Defense', case=False, na=False)]
df_defensas.to_csv('defensas.csv', index=False)

In [75]:
df_aperturas= df_nombres[~df_nombres['Opening'].str.contains('Defense', case=False, na=False)]
df_aperturas.to_csv('aperturas.csv', index=False)

In [99]:
df_resultado=df_defensas[['Result']]
df_resultado

        Result
0          1-0
2          1-0
4          0-1
6          0-1
9          1-0
...        ...
6256176    1-0
6256177    1-0
6256179    1-0
6256181    0-1
6256183    0-1

[3633228 rows x 1 columns]

In [114]:
# Crear una copia independiente del DataFrame para evitar advertencias
df_resultado = df_resultado.copy()

# Convertir la columna 'Result' a texto y limpiar espacios en blanco
df_resultado['Result'] = df_resultado['Result'].astype(str).str.strip()

# Verificar los valores Ãºnicos en la columna 'Result' despuÃ©s de la limpieza
print("Valores Ãºnicos en la columna 'Result' despuÃ©s de la limpieza:")
print(df_resultado['Result'].unique())

# Definir la funciÃ³n de mapeo
def map_result(result):
    result = result.strip()  # Limpiar espacios en blanco
    if result == '1-0':
        return 'victory'
    elif result == '0-1':
        return 'losses'
    elif result == '1/2-1/2':
        return 'draw'
    else:
        return 'unknown'

# Aplicar la funciÃ³n a la columna 'Result' usando .loc para evitar advertencias
df_resultado['Result'] = df_resultado['Result'].apply(map_result)

# Verificar algunos resultados despuÃ©s de aplicar la funciÃ³n
print("\nAlgunos valores despuÃ©s de aplicar la funciÃ³n de mapeo:")
print(df_resultado.head(10))

# Guardar el DataFrame actualizado en un nuevo archivo CSV
df_resultado.to_csv('resultados_actualizados.csv', index=False)

print('Columna Result actualizada y guardada en resultados_actualizados.csv.')

Valores Ãºnicos en la columna 'Result' despuÃ©s de la limpieza:
['unknown']

Algunos valores despuÃ©s de aplicar la funciÃ³n de mapeo:
     Result
0   unknown
2   unknown
4   unknown
6   unknown
9   unknown
10  unknown
11  unknown
12  unknown
14  unknown
15  unknown
Columna Result actualizada y guardada en resultados_actualizados.csv.

In [113]:
df_resultado

          Result
0        unknown
2        unknown
4        unknown
6        unknown
9        unknown
...          ...
6256176  unknown
6256177  unknown
6256179  unknown
6256181  unknown
6256183  unknown

[3633228 rows x 1 columns]